<div class="container__main-content">
    <main>
        <div class="container__main-content__banner">
            <div class="container__main-content__banner__text">
                <h1>Augusto Ribeiro</h1>
                <p>
                    Olá, Eu sou o Augusto Ribeiro um desenvolvedor full stack.<br>
                    Sou um desenvolvedor apaixonado por tecnologia em busca de oportunidades para crescer 
                    e contribuir no mundo da programação.
                </p>
                <div class="container__main-content__banner__btnContact">
                    <a href="#">
                        <button>Entrar em contato</button>
                    </a>
                </div>
            </div>
            <div class="container__main-content__banner__image">
                <img src="../../../assets/img/onePunch.jpg" alt="profilePic">
            </div>
        </div>
    </main>
</div>
