.container__main-content{
    color: white;
    border: solid 5px white;
    padding: 40px 5%;
}

.container__main-content__banner{
    display: flex;
    justify-content: space-between;
}

.container__main-content__banner__text{
    align-self: center;
}

.container__main-content__banner__text > h1{
    font-size: 40px;
}

.container__main-content__banner__text > p{
    font-size: 20px;
    margin: 20px 0;
}

.container__main-content__banner__btnContact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 400px;
    border: 0;
    background-color: #43d6f7;
    border-radius: 30px;
    transition: .2s;
}

.container__main-content__banner__btnContact button:hover {
    box-shadow: 0px 0px 10px #64e3ff;
    transform: scale(1.1);
}

.container__main-content__banner__image > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    animation: float 2s ease-in-out infinite alternate;

}

@keyframes float {
    0%{
        top:0 ;
    }

    100%{
        top: 35px
    }
}